/*
grid-template-areas: 
        'header header header header' => Aqui estou dividindo a largura em 4 partes. o header vai ocupar as 4 partes(100%)
        'sidebar content content content' => Aqui estou dividindo a largura em 4 partes. o sidebar vai ocupar 25% e o content 75%
        'footer footer footer footer'; => Aqui estou dividindo a largura em 4 partes. o footer vai ocupar as 4 partes(100%)

grid-area: header;
grid-area: sidebar;
grid-area: content;
grid-area: footer;

Esse grid-area é vinculado ao grid-template-areas e aos ids. 
O nome do grid-area é vinculado ao  'header header header header',
'sidebar content content content' e 'footer footer footer footer'

 */
.container {
    background-color: #333;
    border: 3px solid red;
    padding: 15px;
    display: grid;
    gap: 5px;
    grid-template-areas: 
        'header header header header'
        'sidebar content content content'
        'footer footer footer footer';
}

.container div {
    background-color: #ccc;
    padding: 20px;
    border: 1px solid blue;
}

#header {
    grid-area: header;
}

#sidebar {
    grid-area: sidebar;
    height: 50vh;
}

#content {
    grid-area: content;
    height: 50vh;
}

#footer {
    grid-area: footer;
}


