/* Adicionando margem em todos os cantos */
.margin {
    margin: 10px;
    background-color: #222;
}

.margin-top {
    margin-top: 50px;
    background-color: #444;
    padding: 10px;
}
/* Margem aplicada às 4 direções -> margin: 5px 10px 15px 20px; */
.margin-shorthand {
    background-color: #666;
    margin: 5px 10px 15px 20px;
}

