.relative-container {
    width: 300px;
    height: 300px;
    border: 1px solid red;
    margin-top: 120px;
    position: relative;
}

.absolute-0,
.absolute-1,
.absolute-2 {
    width: 50px;
    height: 50px;
    background-color: #123;
    position: absolute;
}

.absolute-0 {
    top: 0;
    left: 0;
}

.absolute-1 {
    top: 10px;
    left: 10px;
    background-color: #246;
}

.absolute-2 {
    top: 40px;
    left: 40px;
    background-color: #453;
}

.absolute-3,
.absolute-4,
.absolute-5 {
    width: 50px;
    height: 50px;
    background-color: #123;
    position: absolute;
}

.absolute-3 {
    top: 0;
    left: 0;
    z-index: 3;
}

.absolute-4 {
    top: 10px;
    left: 10px;
    background-color: #246;
    z-index: 2;
}

.absolute-5 {
    top: 40px;
    left: 40px;
    background-color: #453;
    z-index: 1;
}

